@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

button {
    align-items: center;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 8px;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    justify-content: center;
}

body {
    font-family: 'Source Code Pro', monospace;
    max-width: 600px;
}

.bottom-container {
    align-items: center;
    background-color: darkgrey;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-evenly;
    padding: 16px 8px 16px 8px;
    width: 100%;
}

.bottom-button {
    display: flex;
    flex: 1 0 45%;
    width: 100%
}

.button-container {
    align-items: center;
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px;
    width: 100%;
}

.calculator-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    width: 100%;
}

.calculator-display {
    background-color: lightblue;
    font-size: 36px;
    font-weight: 700;
    min-height: 60px;
    padding: 8px;
    text-align: right;
    width: 100%;
}

.number-button {
    display: flex;
    flex: 1 0 30%;
}

.number-button:hover {
    border-color: black;
    color: white;
}

.number-container {
    align-items: center;
    background-color: darkgrey;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-evenly;
    padding: 8px;
    width: 100%;
}

.operator-button {
    display: flex;
    width: 100%
}

.operator-container {
    align-items: center;
    background-color: darkgrey;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    justify-content: space-evenly;
    padding: 8px;
    width: 25%;
}